.movie-card {
  display: inline-block;
  margin: 6rem 1rem;
  height: 18rem;
  width: 12rem;
  cursor: pointer;
  background-color: #ccd0cc;
  position: relative;
}

.movie-card-image {
  display: block;
  height: 100%;
  width: 100%;
}

.movie-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.movie-card-title-text {
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.2rem;
}

.movie-card--isSelected {
  border: 2px solid yellow;
}

.movie-card-title-text--isSelected {
  color: yellow;
}